{% extends 'master.html' %}

{% block title %}
    Add member
{% endblock %}

{% block content %}
<div class='container mt-3'>
    <ul class='nav nav-tabs'>
        <li class='nav-item'>
            <a href='/' class='nav-link'>Home</a>
        </li>
        <li class=''>
            <a href='/students' class='nav-link active'>Students</a>
        </li>
        <li class='nav-item'>
            <a href='/branch' class='nav-link'>Branch</a>
        </li>
        <li class='nav-item'>
            <a href='/subjects' class='nav-link'>Subjects</a>
        </li>
        <li class='nav-item'>
            <a href='/marks' class='nav-link'>Marks</a>
        </li>
    </ul>
</div>

<div class='container my-5'>
    <h1 class='text-center'>Students {{student.name}}</h1>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr class='table-secondary'>
                <td>Roll No</td>
                <td>Student</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for x in student %}
                <tr>
                    <td>{{x.rollno}}</td>
                    <td><a href={% url 'result' x.rollno %}>{{x.name}}</a></td>
                    <td style="text-align: center;"><a href="../delete/{{ x.rollno }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="border-radius: 15px;" class='text-bg-secondary p-3 container mt-3'>
    <h1 style="text-color:black;">Add member</h1>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        Roll No:<br>
        <input name="rolle" required>
        <br><br>
        Student:<br>
        <input name="naam" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}