{% extends 'master.html' %}

{% block title %}
    Add member
{% endblock %}

{% block content %}
<div class='container mt-3'>
    <ul class='nav nav-tabs'>
        <li class='nav-item'>
            <a href='/' class='nav-link'>Home</a>
        </li>
        <li class=''>
            <a href='/students' class='nav-link active'>Students</a>
        </li>
        <li class='nav-item'>
            <a href='/subjects' class='nav-link'>Subjects</a>
        </li>
        <li class='nav-item'>
            <a href='/marks' class='nav-link'>Marks</a>
        </li>
        <li class='nav-item'>
            <a href='/result' class='nav-link'>Result</a>
        </li>
    </ul>
</div>

<div class='container my-5'>
    <h1 class='text-center'>Students {{student.name}}</h1>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr class='table-secondary'>
                <td>Roll No</td>
                <td>Student</td>
            </tr>
        </thead>
        <tbody>
            {% for x in student %}
                <tr>
                    <td>{{x.rollno}}</td>
                    <td>{{x.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class='container mt-3'>
    <h1>Add member</h1>
    <form action="addrecord/" method="post">
        {% csrf_token %}
        Roll No:<br>
        <input name="rolle">
        <br><br>
        Student:<br>
        <input name="naam">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}