{% extends 'master.html' %}

{% block title %}
    Marks
{% endblock %}

{% block content %}
    <div class='container mt-3'>
        <ul class='nav nav-tabs'>
            <li class='nav-item'>
                <a href='/' class='nav-link'>Home</a>
            </li>
            <li class=''>
                <a href='/students' class='nav-link'>Students</a>
            </li>
            <li class='nav-item'>
                <a href='/subjects' class='nav-link'>Subjects</a>
            </li>
            <li class='nav-item'>
                <a href='/marks' class='nav-link active'>Marks</a>
            </li>
            <li class='nav-item'>
                <a href='/result' class='nav-link'>Result</a>
            </li>
        </ul>
    </div>

    <div class='container my-5'>
        <h1 class='text-center'>Marks {{student_mark}}</h1>
        <table class='table table-bordered table-hover'>
            <thead>
                <tr class='table-secondary'>
                    <td>Roll No</td>
                    <td>Subject Code</td>
                    <td>Marks</td>
                </tr>
            </thead>
            <tbody>
                {% for x in student_marks %}
                    <tr>
                        <td>{{x.student.rollno}}</td>
                        <td>{{x.subject.sub_code}}</td>
                        <td>{{x.mark.marks}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
